.header-container {
	display: flex;
	align-items: center;
	padding: 2rem;
	background-color: yellow;
	margin: 1.5rem;
	justify-content: space-between;
	border-radius: 1rem;
}
.header-text {
	font-size: 2rem;
	padding-left: 3rem;
}
.header-date {
	font-size: 1.5rem;
}
