*,
*::after,
*::before {
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}

img {
	width: 100%;
}

/* VARIABLES */
:root {
	--color-primary: #5271ff;

	--color-option-purple: #d5cae5;
	--color-option-purple-hover: #c3b1dd;
	--color-option-pink: #f592b3;
	--color-option-pink-hover: #f27c9f;
	--color-option-green: #96dab5;
	--color-option-green-hover: #8ecb9f;
	--color-option-blue: #92d3ff;
	--color-option-blue-hover: #8eb8ff;
	--color-font: #374151;

	/* Btn Colors */
	--color-grey: #f3f4f6;

	--color-grey-light-1: #f3f4f6;
	--color-grey-light-2: #eee;

	--color-grey-dark: #777;
	--color-grey-dark-2: #999;
	--color-grey-dark-3: #333;

	--color-white: #fff;
	--color-black: #2f2e41;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #f0f6fb;
	color: var(--color-font);
}
input:focus,
textarea:focus,
select:focus {
	outline: none;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--color-primary);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--color-tertiary-dark);
}
.mid-section {
	display: flex;
	max-width: 130rem;
	max-height: 65rem;
}
.App {
	display: flex;
	max-width: 130rem;
	max-height: 65rem;
	flex-direction: column;
}
@media (max-width: 1200px) {
	html {
		font-size: 48%;
	}
}

@media (max-width: 980px) {
	html {
		font-size: 43.75%;
	}
	.mid-section {
		flex-direction: column;
	}
	.sidebar-container {
		flex-direction: row;
	}
}
