*,
*::after,
*::before {
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}

img {
	width: 100%;
}

/* VARIABLES */
:root {
	--color-option-purple: #d5cae5;
	--color-option-pink: #f592b3;
	--color-option-green: #96dab5;
	--color-option-blue: #92d3ff;
	--color-font: #3e4152;

	--color-grey-light-1: #f3f4f6;
	--color-grey-light-2: #eee;

	--color-grey-dark: #777;
	--color-grey-dark-2: #999;
	--color-grey-dark-3: #333;

	--color-white: #fff;
	--color-black: #2f2e41;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #f0f6fb;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--color-primary);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--color-tertiary-dark);
}
.mid-section {
	display: flex;
}

@media only screen and (max-width: 800px) {
	html {
		font-size: 43.75%;
	}
}
